.container {
	width: 250px;
	height: 360px;
	background-image: url('chalkboard.png');
	position: absolute;
	top: 0;
	left: 0;
}

.logo {
	width: 84%;
	padding-left: 8%;
	
	top: 20px;
	position: absolute;
	
}

.ball-start {
  	width: 80px;
  	height: 80px;
	
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
	
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
	
	background-image: url('ball_big.png');
	background-size: contain;
	
	border-radius: 50%;
	position: absolute;
	top: 77%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) translateZ(0);
          transform: translate(-50%, -50%) translateZ(0);
	cursor: pointer;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.ball {	
  	width: 80px;
  	height: 80px;
	
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
	
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
	
	background-image: url('ball_big.png');
	background-size: contain;
	
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) translateZ(0);
          transform: translate(-50%, -50%) translateZ(0);
	cursor: pointer;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.left {
	height: 140px;
  	width: 70px;
	
	border-bottom-left-radius: 140px;
	border-top-left-radius: 140px;
}
.right {
	height: 140px;
  	width: 70px;
	
	border-bottom-right-radius: 140px;
  	border-top-right-radius: 140px;
}

.total, .number, .note-text, .game-over, .click-ball, .congrats {
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	
	position: absolute;
	text-align: center;
   	width: 100%;
}

.button-try-again, .button-claim-prize {
	color: #000000;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-size: 20px;
	
	position: absolute;
	text-align: center;
	bottom: 40px;
	left: 0;
	width: 55%;
	margin-left: 22.5%;
	margin-right: 22.5%;
	height: 40px;
	background-color: #dad33f;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	-webkit-transition: 0.1s background-color ease-out;
	transition: 0.1s background-color ease-out;
	
	-webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
	
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
}
.button-claim-prize {
	bottom: 22px;
	z-index: 9999;
}
.button-claim-prize a {
	text-decoration: none;
	color: #000;
}
.button-try-again:hover, .button-claim-prize:hover {
	background-color: #aea832;
}

.number, .game-over, .congrats {
	
	font-weight: 900;
	font-size: 60px;
	
	top: 40px;
}
.congrats, .click-ball {
	font-weight: 900;
	font-size: 32px;
	
	top: 70px;
}
.congrats span {
	font-size: 25px;
}
.click-ball {
	width: 70%;
	padding-left: 15%;
	top: 120px;
}
.ball, .number, .button-try-again, .click-ball, .total, .button-claim-prize, .win, .congrats {
	z-index: -1;
}

.game-over {
	top: 20px;
}
.total {
	font-weight: 300;
	font-size: 15px;
	
	top: 70px;
}
.note {
	width: 76%;
	position: absolute;
	margin-left: 12%;
	margin-right: 12%;
	top: 75px;
}
.note-text {
	font-weight: 900;
	font-size: 28px;
	line-height: 1;
	color: #2d3a41;
	top: 62px;
}
.button-start {
	position: absolute;
	right: 10px;
	bottom: 110px;
	width: 90px;
	cursor: pointer;
}

.arrow {
	width: 22px;
	position: absolute;
	bottom: 13px;
	left: calc(50% - 11px);
}

.win {
	position: absolute;
	width: 92%;
	
	bottom: 15%;
	left: 4%;
}

body {
  	background-color: #ecf0f1;
}
